*~
aclocal.m4
autom4te.cache
*.bak
build-aux
config.h
config.h.in
config.log
config.status
configure
.deps
Makefile
Makefile.in
*.o
*.pcap
stamp-h1
state.log
*.swp
*.tar.*
tcpr-application
tcpr-netfilter
tcpr-test
